<%
let copy = [...lessons];
const filtered = [];
const links = []

for (let i = 0; i < copy.length; i++) {
  if (copy[i].subject === lessonName) {
    filtered.push(copy[i]);
    links.push(copy[i].link);
  }
}

if (filtered.length === 0) {
  filtered.push({'_id:' : "0",
   'name' : "No Lessons Yet!",
    'chapter' : "0",
     'length' : "0",
      'link' : "",
       'subject' : `${lessonName}`});

}

for(var i=0; i < filtered.length; i++ ) { %>
<tr>

  <td><%= i + 1 %> </td>
  <td><%= filtered[i].name %> </td>
  <td><%= filtered[i].chapter %> </td>
  <td><%= filtered[i].length %> </td>

  <td>  

    <a href="<%= filtered[i].link%>?enablejsapi=1" onclick="return changeSrc(this)" target="_blank"
      class="btn border-shadow update ">
      <span class="text-gradient"><i class="fa-solid fa-eye"></i></i></span>
    </a>


  </td>

</tr>


<% } %>

<%= console.log(`Lessons of ${lessonName} Loaded...`); %>
